## 1) Pattern 1 :

In [1]:
n = int(input("Enter number of rows: "))
for i in range(0,n+1):
    for j in range(0,n-i):
        print("5",end = ' ')
    print()

Enter number of rows: 5
5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

## 2) Pattern 2 :

In [2]:
n = int(input("Enter number of rows: "))
for i in range(n,0,-1):
    for j in range(0,i+1):
        print(j,end = ' ' )
    print()

Enter number of rows: 5
0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

## 3) Pattern 3 :

In [3]:
n = int(input("Enter number of rows: "))
k = 1
for i in range(1,n+1):
    for j in range(1,i+1):
        print(k,end = ' ')
    k = k + 2
    print()

Enter number of rows: 6
1
3 3
5 5 5
7 7 7 7
9 9 9 9 9
11 11 11 11 11 11

## 4) Pattern 4 :

In [4]:
n = int(input("Enter number of rows: "))
for i in range(0,n):
    for j in range(i,-1,-1):
        print(j+1,end = ' ')
    print()

Enter number of rows: 5
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

## 5) Pattern 5 :

In [5]:
n = int(input("Enter number of rows: "))
k = 0
for i in range(0,n):
    for j in range(1,i+1):
        print(k,end =' ')
        k-=1
    k = k+(2*i)+1
    print()

Enter number of rows: 5

1
3 2
6 5 4
10 9 8 7

## 6) Pattern 6 :

In [6]:
def fact(n):
    f = 1
    for i in range(1,n+1):
        f = f * i
    return f

n = int(input("Enter number of rows: "))
for i in range(0,n):
    for k in range(0,i+1):
        coef = int(fact(i) / (fact(k) * fact(i-k)))
        print("%3d"%coef,end = ' ')
    print()

Enter number of rows: 6
  1
  1   1
  1   2   1
  1   3   3   1
  1   4   6   4   1
  1   5  10  10   5   1

## 7) Pattern 7 :

In [7]:
n = int(input("Enter number of rows: "))
for i in range(1,n+1):
    for j in range(1,n+1):
        if(j>i):
            print(j,end = ' ')
        if(j<=i):
            print(i,end = ' ')
    print()

Enter number of rows: 5
1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

## 8) Pattern 8 :

In [8]:
n = int(input("Enter number of rows: "))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(i*j,end = ' ')
   
    print()

Enter number of rows: 6
1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36

## 9) Pattern 9 :

In [9]:
def pattern(n):
    k = 2 * n -2
    for i in range(n,-1,-1):
        for j in range(k,0,-1):
            print(end = ' ')
        k = k + 1
        for j in range(0,i+1):
            print("*",end = ' ')
        print("\r")
        
pattern(6)

          * * * * * * *
           * * * * * *
            * * * * *
             * * * *
              * * *
               * *
                *

## 10) Pattern 10 :

In [10]:
def pattern(n):
    k = 2 * n - 2
    for i in range(0,n):
        for j in range(0,k):
            print(end = ' ')
        k = k - 1
        for j in range(0,i+1):
            print("*",end = ' ')
        print()

pattern(7)

            *
           * *
          * * *
         * * * *
        * * * * *
       * * * * * *
      * * * * * * *

## 11) Pattern 11 :

In [11]:
n = int(input("Enter number of rows: "))
for i in range(1,n+1):
    for j in range(1,i+1):
        print("*",end = ' ')
    print()
print()

for i in range(n+1,0,-1):
    for j in range(0,i-1):
        print("*",end = ' ')
    print()

Enter number of rows: 7
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

## 12) Pattern 12 :

In [12]:
def pattern(n):
    for i in range(0,n):
        for j in range(0,i+1):
            print("*",end = ' ')
        print()
    for i in range(n,-1,-1):
        for j in range(0,i+1):
            print("*",end = ' ')
        print()
        
pattern(6)

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

## 13) Pattern 13 :

In [13]:
def pattern(n):
    k = 2 * n - 2
    for i in range(0,n-1):
        for j in range(0,k):
            print(end = ' ')
        k = k - 2
        for j in range(0,i+1):
            print("*",end = ' ')
        print()
    k = -1
    for i in range(n-1,-1,-1):
        for j in range(k,-1,-1):
            print(end = ' ')
        k = k + 2
        for j in range(0,i+1):
            print("*",end = ' ')
        print()
        
pattern(6)

          *
        * *
      * * *
    * * * *
  * * * * *
* * * * * *
  * * * * *
    * * * *
      * * *
        * *
          *

## 14) Pattern 14 :

In [14]:
def pattern(n):
    k = n - 2
    for i in range(n,-1,-1):
        for j in range(k,0,-1):
            print(end = ' ')
        k = k + 1
        for j in range(0,i+1):
            print("*",end = ' ')
        print()
    k = 2 * n - 2
    for i in range(0,n+1):
        for j in range(0,k):
            print(end = ' ')
        k = k - 1
        for j in range(0,i+1):
            print("*",end = ' ')
        print()
        
pattern(6)

    * * * * * * *
     * * * * * *
      * * * * *
       * * * *
        * * *
         * *
          *
          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *

## 15) Pattern 15 :

In [15]:
n = int(input("Enter number of rows: "))
print("*" * n,end = "\n")
i = (n//2)-1
j = 2
while i!=0:
    while j<=(n-2):
        print("*" * i,end = '')
        print("_" * j,end = '')
        print("*" * i,end = "\n")
        i = i - 1
        j = j + 2

Enter number of rows: 14
**************
******__******
*****____*****
****______****
***________***
**__________**
*____________*